## IPRatings | Popularity of Star Wars Titles compared to Brickset Ratings

#### This notebook generates data to investigate a relationship between the [Rotten Tomatoes](https://rottentomatoes.com) scores for Star Wars titles and the ratings of Star Wars LEGO sets on [Brickset](https://brickset.com/). The Rotten Tomatoes scores were compiled in July 2022 into [SWMovies Google Sheet](https://docs.google.com/spreadsheets/d/1xw7y9yawF6i35BTfP9M1uUawJvwpacz01Xq4MEZszBs). The final output of this will be a .csv, ultimately used in a [Tableau Dashboard](https://public.tableau.com/app/profile/jared.sage/viz/BricksandPieces/BricksandPieces). This notebook will merge two DataFrames and generate "tomato.csv" in the "CSVs" folder in this repo.

#### Prediction: LEGO set popularity will not directly correlate to the popularity of a Star Wars title. There are likely more, undetermined, factors specific to rating LEGO sets beyond popularity of a licensed title.

#### Start by importing the necessary packages to run the notebook. Pandas will be used for importing, cleaning, and merging data. Requests will be used for API calls. PythonScripts is a folder of scripts made for this project. KEY_TWO will be the Brickset API key. data_clean is for functions used across the 2 or more notebooks in this repo.

In [6]:
import pandas as pd
import requests
from PythonScripts.keys import KEY_TWO
import PythonScripts.data_clean as dc

#### Configure the parameters for reading the Star Wars title scores Google Sheet into a DataFrame. The parameters are then fed into pandas.read_csv() to create the DataFrame. Output is the resulting DataFrame.

In [7]:
# Configure URL for pd.read_csv and read as DataFrame
# Full sheet URL == https://docs.google.com/spreadsheets/d/1xw7y9yawF6i35BTfP9M1uUawJvwpacz01Xq4MEZszBs/
workbook_id = "1xw7y9yawF6i35BTfP9M1uUawJvwpacz01Xq4MEZszBs"
sheet_name = "Tomato"
url = f"https://docs.google.com/spreadsheets/d/{workbook_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
ip_df = pd.read_csv(url, parse_dates=['Release_Date'])
ip_df

,Title,Is_Movie,Is_TV,Release_Date,Tomatometer
0,Episode IV – A New Hope,Y,N,1977-05-25,93%
1,Episode V – The Empire Strikes Back,Y,N,1980-05-21,94%
2,Episode VI – Return of the Jedi,Y,N,1983-05-25,83%
3,Episode I – The Phantom Menace,Y,N,1999-05-19,51%
4,Episode II – Attack of the Clones,Y,N,2002-05-16,66%
5,Episode III – Revenge of the Sith,Y,N,2005-05-19,79%
6,Episode VII – The Force Awakens,Y,N,2015-12-18,93%
7,Episode VIII – The Last Jedi,Y,N,2017-12-15,91%
8,Episode IX – The Rise of Skywalker,Y,N,2019-12-20,52%
9,Star Wars: The Clone Wars,Y,N,2008-08-15,18%
10,Rogue One,Y,N,2016-12-16,84%
11,Solo,Y,N,2018-05-25,69%
12,Star Wars: The Bad Batch,N,Y,2021-01-01,85%
13,Star Wars: Resistance,N,Y,2018-01-01,92%
14,Star Wars: Rebels,N,Y,2014-01-01,98%
15,Star Wars: The Clone Wars,N,Y,2008-01-01,93%
16,The Mandalorian,N,Y,2019-01-01,93%
17,The Book of Boba Fett,N,Y,2021-01-01,66%

#### The Release Date column looks messy. There are values with full dates and some that just start on January 1st. To clean this up, we format these values to just the year of the date. Output shows the new values of the release dates.

In [8]:
# Format Date column to display as the year
ip_df['Release_Date'] = ip_df['Release_Date'].dt.strftime('%Y')
ip_df

,Title,Is_Movie,Is_TV,Release_Date,Tomatometer
0,Episode IV – A New Hope,Y,N,1977,93%
1,Episode V – The Empire Strikes Back,Y,N,1980,94%
2,Episode VI – Return of the Jedi,Y,N,1983,83%
3,Episode I – The Phantom Menace,Y,N,1999,51%
4,Episode II – Attack of the Clones,Y,N,2002,66%
5,Episode III – Revenge of the Sith,Y,N,2005,79%
6,Episode VII – The Force Awakens,Y,N,2015,93%
7,Episode VIII – The Last Jedi,Y,N,2017,91%
8,Episode IX – The Rise of Skywalker,Y,N,2019,52%
9,Star Wars: The Clone Wars,Y,N,2008,18%
10,Rogue One,Y,N,2016,84%
11,Solo,Y,N,2018,69%
12,Star Wars: The Bad Batch,N,Y,2021,85%
13,Star Wars: Resistance,N,Y,2018,92%
14,Star Wars: Rebels,N,Y,2014,98%
15,Star Wars: The Clone Wars,N,Y,2008,93%
16,The Mandalorian,N,Y,2019,93%
17,The Book of Boba Fett,N,Y,2021,66%

#### We are going to do a little more cleaning to make the merge easier down the road. We first remove the subtitles from titles with "Episode". We then define and call a function to remove "Star Wars: " from other properties leaving only the subtitles. Output shows the newly renamed values in the Title column.

In [9]:
# Clean extra text out the Title column

for item, str in ip_df['Title'].items():
        head, sep, tail = str.partition(' – ')
        ip_df['Title'].replace(to_replace=str, value = head, inplace=True)


# Function for cleaning a series by partition
def part_colon(column_label: pd.Series) -> pd.Series:
        for item, value in column_label.items():
           if ': ' in value:
                head, sep, tail = value.partition(': ')
                column_label.replace(to_replace=value, value = tail, inplace=True)
        
# Run cleaning function on Title column
part_colon(ip_df['Title'])
ip_df['Title']

0                Episode IV
1                 Episode V
2                Episode VI
3                 Episode I
4                Episode II
5               Episode III
6               Episode VII
7              Episode VIII
8                Episode IX
9            The Clone Wars
10                Rogue One
11                     Solo
12            The Bad Batch
13               Resistance
14                   Rebels
15           The Clone Wars
16          The Mandalorian
17    The Book of Boba Fett
Name: Title, dtype: object

#### There are two values for Clone Wars with very different ratings. Contextually, the movie is a pilot episode for the TV show. So as a smaller part of a bigger 7-season show, we will drop the movie rating to eliminate the duplicate. This finishes the cleaning of the first DataFrame. Output shows the title Series with only one "The Clone Wars" in the title row.

In [10]:
# Drop duplicate Clone Wars, first 3 episodes of TV show theatrical release. Duplicate value and outlier
ip_df.drop(index=9, inplace=True)
ip_df.reset_index(drop=True, inplace=True)
ip_df['Title']

0                Episode IV
1                 Episode V
2                Episode VI
3                 Episode I
4                Episode II
5               Episode III
6               Episode VII
7              Episode VIII
8                Episode IX
9                 Rogue One
10                     Solo
11            The Bad Batch
12               Resistance
13                   Rebels
14           The Clone Wars
15          The Mandalorian
16    The Book of Boba Fett
Name: Title, dtype: object

#### The second DataFrame starts with an API call to Brickset. This retrieves LEGO set information for all sets under the Star Wars theme. Output shows the shape and head of the new sw_df DataFrame.

In [11]:
# API call for information for sets in Star Wars theme and convert to dataframe. 
parameters = {'theme' : 'Star Wars', 'pageSize' : 900}
sw_set_list = requests.get(f"https://brickset.com/api/v3.asmx/getSets?apiKey={KEY_TWO}&userHash=&params={parameters}")
sw_data = sw_set_list.json()
sw_df = pd.json_normalize(sw_data,'sets')
print(f'sw_df shape: {sw_df.shape}')
sw_df.head()

sw_df shape: (855, 44)

,setID,number,numberVariant,name,year,theme,themeGroup,subtheme,category,released,...,LEGOCom.UK.dateFirstAvailable,LEGOCom.UK.dateLastAvailable,ageRange.min,ageRange.max,LEGOCom.CA.retailPrice,LEGOCom.CA.dateFirstAvailable,LEGOCom.CA.dateLastAvailable,LEGOCom.DE.retailPrice,LEGOCom.DE.dateFirstAvailable,LEGOCom.DE.dateLastAvailable
0,1394,3219,1,Mini TIE Fighter,2002,Star Wars,Licensed,Mini Building Set,Normal,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1469,3340,1,"Star Wars #1 - Emperor Palpatine, Darth Maul a...",2000,Star Wars,Licensed,Minifig Pack,Normal,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1470,3341,1,"Star Wars #2 - Luke Skywalker, Han Solo and Bo...",2000,Star Wars,Licensed,Minifig Pack,Normal,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1471,3342,1,Star Wars #3 - Chewbacca and 2 Biker Scouts,2000,Star Wars,Licensed,Minifig Pack,Normal,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1472,3343,1,Star Wars #4 - Battle Droid Commander and 2 Ba...,2000,Star Wars,Licensed,Minifig Pack,Normal,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### The new DataFrame has 44 columns...a lot of columns. We will not need the majority of those so we will drop them out of the DataFrame. Output shows the shape of the DataFrame with reduced columns and DataFrame head.

In [12]:
dc.drop_columns(sw_df)
print(f'sw_df shape: {sw_df.shape}')

sw_df shape: (855, 8)

#### Subthemes in sw_df are the closest match to Star Wars titles. We rename some of the subthemes to make them equivalent to the titles in ip_df. This allows for a cleaner merge. Output shows the starting values in the subtheme column and the new values after replacement.

In [13]:
# Replace certain values with values matching first data frame
subthemes = sw_df['subtheme'].sort_values().unique()
print(f'Subthemes: f{subthemes}')

sw_df['subtheme'].replace(to_replace={'The Clone Wars' : 'Star Wars: The Clone Wars', 
                                       'The Force Awakens' : 'Episode VII', 
                                       'The Last Jedi' : 'Episode VIII', 
                                       'The Rise of Skywalker' : 'Episode IX' }, inplace=True)
subthemes = sw_df['subtheme'].sort_values().unique()
print(f'\nRenamed Subthemes: f{subthemes}')

Subthemes: f['Andor' 'Battlefront' 'Book Parts' 'Boost' 'Buildable Figures'
 'Diorama Collection' 'Episode I' 'Episode II' 'Episode III' 'Episode IV'
 'Episode V' 'Episode VI' "Galaxy's Edge" 'Helmet Collection'
 'Jedi: Fallen Order' 'Legends' 'Magazine Gift' 'Master Builder Series'
 'MicroFighters' 'Microfighters' 'Mini Building Set' 'Minifig Pack'
 'Miscellaneous' 'Obi-Wan Kenobi' 'Original Content' 'Planet Set'
 'Product Collection' 'Promotional' 'Rebels' 'Resistance' 'Rogue One'
 'Seasonal' 'Solo' 'Technic' 'The Bad Batch' 'The Book of Boba Fett'
 'The Clone Wars' 'The Force Awakens' 'The Last Jedi' 'The Mandalorian'
 'The Old Republic' 'The Rise of Skywalker' 'Ultimate Collector Series'
 nan]

Renamed Subthemes: f['Andor' 'Battlefront' 'Book Parts' 'Boost' 'Buildable Figures'
 'Diorama Collection' 'Episode I' 'Episode II' 'Episode III' 'Episode IV'
 'Episode IX' 'Episode V' 'Episode VI' 'Episode VII' 'Episode VIII'
 "Galaxy's Edge" 'Helmet Collection' 'Jedi: Fallen Order' 'Legends'
 'Magazine Gift' 'Master Builder Series' 'MicroFighters' 'Microfighters'
 'Mini Building Set' 'Minifig Pack' 'Miscellaneous' 'Obi-Wan Kenobi'
 'Original Content' 'Planet Set' 'Product Collection' 'Promotional'
 'Rebels' 'Resistance' 'Rogue One' 'Seasonal' 'Solo'
 'Star Wars: The Clone Wars' 'Technic' 'The Bad Batch'
 'The Book of Boba Fett' 'The Mandalorian' 'The Old Republic'
 'Ultimate Collector Series' nan]

#### To be safe, we want to get rid of any sets that have not been rated or rated at 0 so that it doesn't skew any of the results. Output will show the shape of the DataFrame. If the shape hasn't changed, then there are no sets that are equal to 0.

In [14]:
# # Drop rows where there is no rating for the set.
print('sw_df shape: ',sw_df.shape)

mask_two = sw_df[sw_df['rating'] == 0].index
sw_df.drop(mask_two, inplace=True)   

print('new sw_df shape: ',sw_df.shape)

sw_df shape:  (855, 8)
new sw_df shape:  (731, 8)

#### We also want to git rid of any LEGO sets that have a NaN value for the number of pieces in the set so that they don't skew any analysis. Output will show a shape with fewer rows if there are any sets with a NaN value for pieces. If unchanged then there were no NaN values.

In [15]:
# Drop any rows if they have a NaN value in the pieces column
pieces_null = sw_df.isnull().values.any()
if pieces_null == True:
    sw_df.dropna(subset=['pieces'], inplace=True)
                 
print(f'sw_df shape: {sw_df.shape}')
sw_df.head()

sw_df shape: (731, 8)

,setID,number,name,year,theme,subtheme,pieces,rating
0,1394,3219,Mini TIE Fighter,2002,Star Wars,Mini Building Set,12.0,3.5
1,1469,3340,"Star Wars #1 - Emperor Palpatine, Darth Maul a...",2000,Star Wars,Minifig Pack,32.0,4.0
2,1470,3341,"Star Wars #2 - Luke Skywalker, Han Solo and Bo...",2000,Star Wars,Minifig Pack,22.0,4.2
3,1471,3342,Star Wars #3 - Chewbacca and 2 Biker Scouts,2000,Star Wars,Minifig Pack,22.0,4.3
4,1472,3343,Star Wars #4 - Battle Droid Commander and 2 Ba...,2000,Star Wars,Minifig Pack,30.0,3.9

#### In the previously shown heads of the DataFrame, you can see that the number of pieces is currently a float value. As you can't have a partial piece, we want to convert that to an integer value. Output shows new int type for a a value in the pieces column and the DataFrame head.

In [16]:
# Convert pieces to Int64 
sw_df['pieces'] = sw_df['pieces'].astype(pd.Int64Dtype())
dtype = type(sw_df['pieces'].iloc[1])
print("Dtype of sw_df['pieces']: ", dtype)
sw_df.head()

Dtype of sw_df['pieces']:  <class 'numpy.int64'>

,setID,number,name,year,theme,subtheme,pieces,rating
0,1394,3219,Mini TIE Fighter,2002,Star Wars,Mini Building Set,12,3.5
1,1469,3340,"Star Wars #1 - Emperor Palpatine, Darth Maul a...",2000,Star Wars,Minifig Pack,32,4.0
2,1470,3341,"Star Wars #2 - Luke Skywalker, Han Solo and Bo...",2000,Star Wars,Minifig Pack,22,4.2
3,1471,3342,Star Wars #3 - Chewbacca and 2 Biker Scouts,2000,Star Wars,Minifig Pack,22,4.3
4,1472,3343,Star Wars #4 - Battle Droid Commander and 2 Ba...,2000,Star Wars,Minifig Pack,30,3.9

#### We run the part_colon function to remove "Star Wars: " from subthemes leaving only subtitles for the value. This will allow a clean merge between titles and subthemes. Output shows the new values in the subtheme column.

In [17]:
# Run clean via partition function on the subtheme column of the second dataframe
part_colon(sw_df['subtheme'])
sw_df['subtheme'].unique()

array(['Mini Building Set', 'Minifig Pack', 'Episode VI', 'Episode IV',
       'Episode II', 'Episode V', 'Episode III', 'Episode I',
       'Ultimate Collector Series', 'Legends', 'The Clone Wars',
       'Seasonal', 'Technic', 'The Old Republic', 'Planet Set',
       'Book Parts', 'Rebels', 'Episode VII', 'Episode VIII', 'Solo',
       'Episode IX', 'Rogue One', 'Promotional', 'Original Content',
       'Microfighters', 'Battlefront', 'Buildable Figures',
       'MicroFighters', 'Master Builder Series', 'Resistance',
       'Miscellaneous', 'Boost', 'The Mandalorian', 'Helmet Collection',
       "Galaxy's Edge", 'The Bad Batch', 'The Book of Boba Fett',
       'Diorama Collection', 'Magazine Gift'], dtype=object)

#### While we could merge DataFrames here, what we really want to know about LEGO sets is specific to how they relate to the subtheme column. We group set number by each subtheme and count the set numbers to determine how many sets are in each theme. That is saved as a new Series. Output is the new lego_set_count Series.

In [18]:
# Group subthemes by the number of sets in the the subtheme
lego_set_count = sw_df.groupby(['subtheme'])['number'].count()
lego_set_count

subtheme
Battlefront                   4
Book Parts                    1
Boost                         1
Buildable Figures            29
Diorama Collection            3
Episode I                    40
Episode II                   20
Episode III                  48
Episode IV                   49
Episode IX                   11
Episode V                    43
Episode VI                   41
Episode VII                  26
Episode VIII                 17
Galaxy's Edge                 1
Helmet Collection             8
Legends                      11
Magazine Gift                72
Master Builder Series         2
MicroFighters                11
Microfighters                24
Mini Building Set            21
Minifig Pack                 11
Miscellaneous                 2
Original Content              7
Planet Set                   12
Promotional                  22
Rebels                       17
Resistance                    2
Rogue One                    12
Seasonal                     11
Solo                         12
Technic                       9
The Bad Batch                 1
The Book of Boba Fett         2
The Clone Wars               78
The Mandalorian              10
The Old Republic              5
Ultimate Collector Series    35
Name: number, dtype: int64

#### The next set of information we want is the average Brickset rating by subtheme. We group rating by subtheme and then calculate the average. That is saved as a new Series. Output is the rating_avg Series.

In [ ]:
# Group subthemes by the average rating
rating_avg = sw_df.groupby(['subtheme'])['rating'].mean().round(2)
rating_avg

#### Next step is to concatenate the 2 calculated Series into a new DataFrame. This is all the set information needed to then merge with our information by title. Output is the new agg_df DataFrame.

In [ ]:
# Create a new DataFrame combining the set count and rating by subtheme
agg_df = pd.concat([lego_set_count, rating_avg], axis=1)
agg_df

#### Now we perform the merge. We are going to do a left join based on the title so that we only get subtheme information for subthemes that match a title, eliminating extraneous data. Output is the new merged_df DataFrame showing all the ip_df data with new "number" and "rating" columns from agg_df.

In [ ]:
# Merge DataFrame of set #s and average rating into DataFrame of Star Wars properties
merged_df = ip_df.merge(agg_df, how='left', left_on='Title', right_on='subtheme')
merged_df

#### Eventually we want to compare values in the Tomatometer column with Brickset ratings in Tableau. We want to make sure that we have numerical values for the Tomatometer instead of the string values that currently exist. We remove the "%" character, convert the resulting characters to float values, and convert them to decimal percentages. Output is the DataFrame head showing the new Tomatometer format.

In [ ]:
# Replace percentage string with a float value for percentage rating
for index, value in merged_df['Tomatometer'].items():
    x = value.strip('%')
    merged_df['Tomatometer'] = merged_df['Tomatometer'].replace(value, x)
merged_df['Tomatometer'] = merged_df['Tomatometer'].astype(float)
merged_df['Tomatometer'] = merged_df['Tomatometer']/100
merged_df.head()

#### We need to compare Brickset Ratings to Rotten Tomato scores. However, a problem can be seen by looking at the DataFrame. The two websites use different scales. Brickset uses a 5-point scale, while Rotten Tomatoes uses a 100-point percentage scale. To make things easier we add a new Series with Brickset ratings converted to a 100-point percentage scale. Output shows the the DataFrame head with the new Series "Brickset % Rating"

In [ ]:
# Make new column that converts Bricket rating from 5 point scale to a percentage scale
merged_df['Tomatometer'] = merged_df['Tomatometer'].astype(float)
merged_df['Brickset % Rating'] =  merged_df['rating'] / 5
merged_df.head()

#### Data cleaning and merging is complete. We save that data as a .csv to use in Tableau. A file called "tomato.csv" will be created in the "CSVs" folder of this repo if you would like to review the final output. Output is the .csv file in the repo.

In [ ]:
# Write the merged DataFrame to .csv for visualization in Tableau
file_path = dc.csv_path('tomato.csv')
merged_df.to_csv(file_path)