In [11]:
import pandas as pd 

# import theme df, join merged_df_three with theme to get star wars theme. 
#add code to not include first columns
inv_df = pd.read_csv('.\CSVs\inventories.csv')
inv_parts_df = pd.read_csv('.\CSVs\inventory_parts.csv')
set_df = pd.read_csv('.\CSVs\sets.csv')
parts_df = pd.read_csv('.\CSVs\parts.csv')

In [12]:
print(inv_df.head())
print(inv_parts_df.head())
print(set_df.head())
print(parts_df.head())

   Unnamed: 0  id  version set_num
0           0   1        1  7922-1
1           1   3        1  3931-1
2           2   4        1  6942-1
3           3  15        1  5158-1
4           4  16        1   903-1
   Unnamed: 0  inventory_id        part_num  color_id  quantity is_spare
0           0             1        48379c01        72         1        f
1           1             1           48395         7         1        f
2           2             1  stickerupn0077      9999         1        f
3           3             1         upn0342         0         1        f
4           4             1         upn0350        25         1        f
   Unnamed: 0 set_num                        name  year  theme_id  num_parts
0           0   001-1                       Gears  1965         1         43
1           1  0011-2           Town Mini-Figures  1979        67         12
2           2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          0
3           3  0012-1          Space Mini-Figures  1979       143         12
4           4  0013-1          Space Mini-Figures  1979       143         12
   Unnamed: 0 part_num                                        name  \
0           0   003381                 Sticker Sheet for Set 663-1
1           1   003383         Sticker Sheet for Sets 618-1, 628-2
2           2   003402  Sticker Sheet for Sets 310-3, 311-1, 312-3
3           3   003429                Sticker Sheet for Set 1550-1
4           4   003432  Sticker Sheet for Sets 357-1, 355-1, 940-1

   part_cat_id part_material
0           58       Plastic
1           58       Plastic
2           58       Plastic
3           58       Plastic
4           58       Plastic

In [14]:
merged_df_one = inv_df.merge(inv_parts_df, how='left', left_on='id', right_on='inventory_id')
merged_df_one.drop(columns='Unnamed: 0_y', inplace=True)
merged_df_two = merged_df_one.merge(set_df, how='left', left_on='set_num', right_on='set_num')
merged_df_two.drop(columns='Unnamed: 0', inplace=True)
merged_df_three = merged_df_two.merge(parts_df, how='left', left_on='part_num', right_on='part_num')
merged_df_three.drop(columns='Unnamed: 0', inplace=True)
merged_df_three.head()

,Unnamed: 0_x,id,version,set_num,inventory_id,part_num,color_id,quantity,is_spare,name_x,year,theme_id,num_parts,name_y,part_cat_id,part_material
0,0,1,1,7922-1,1.0,48379c01,72.0,1.0,f,McDonald's Sports Set Number 6 - Orange Vest S...,2004.0,460.0,5.0,"Large Figure Torso and Legs, Promo Figure Base...",41.0,Plastic
1,0,1,1,7922-1,1.0,48395,7.0,1.0,f,McDonald's Sports Set Number 6 - Orange Vest S...,2004.0,460.0,5.0,Sports Snowboard from McDonald's Promotional Set,27.0,Plastic
2,0,1,1,7922-1,1.0,stickerupn0077,9999.0,1.0,f,McDonald's Sports Set Number 6 - Orange Vest S...,2004.0,460.0,5.0,Sticker Sheet for Set 7922-1,58.0,Plastic
3,0,1,1,7922-1,1.0,upn0342,0.0,1.0,f,McDonald's Sports Set Number 6 - Orange Vest S...,2004.0,460.0,5.0,Sports Promo Paddle from McDonald's Sports Sets,27.0,Plastic
4,0,1,1,7922-1,1.0,upn0350,25.0,1.0,f,McDonald's Sports Set Number 6 - Orange Vest S...,2004.0,460.0,5.0,Sports Promo Figure Head Torso Assembly McDona...,13.0,Plastic