In [1]:
import pandas as pd 
from data_clean import convert_to_int
import requests
from keys import KEY_ONE
from PIL import Image
import os
import resize

# import theme df, join merged_df_three with theme to get star wars theme. 
#add code to not include first columns

inv_df = pd.read_csv('.\CSVs\inventories.csv', usecols=['id','set_num'])
inv_parts_df = pd.read_csv('.\CSVs\inventory_parts.csv', usecols=['inventory_id', 'part_num', 'color_id', 'quantity'])
set_df = pd.read_csv('.\CSVs\sets.csv', usecols=['set_num', 'name', 'year', 'theme_id', 'num_parts'])
parts_df = pd.read_csv('.\CSVs\parts.csv', usecols=['part_num', 'name'])

In [2]:
inv_rename_dict = {'id' : 'inventory_id',
                   'set_num' : 'set_num'}
inv_df.rename(columns=inv_rename_dict, inplace=True)

parts_rename_dict = {'part_num' : 'part_num',
                     'name' : 'part_name'}
parts_df.rename(columns=parts_rename_dict, inplace=True)

In [3]:
all_merged_df = inv_df.merge(inv_parts_df, how='inner', left_on='inventory_id', right_on='inventory_id')
all_merged_df = all_merged_df.merge(set_df, how='inner', left_on='set_num', right_on='set_num')
all_merged_df = all_merged_df.merge(parts_df, how='inner', left_on='part_num', right_on='part_num')
all_merged_df.head()

,inventory_id,set_num,part_num,color_id,quantity,name,year,theme_id,num_parts,part_name
0,1,7922-1,48379c01,72,1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,5,"Large Figure Torso and Legs, Promo Figure Base..."
1,738,7920-1,48379c01,0,1,McDonald's Sports Set Number 5 - Blue Hockey P...,2004,461,6,"Large Figure Torso and Legs, Promo Figure Base..."
2,1733,7919-1,48379c01,1,1,McDonald's Sports Set Number 4 - White Hockey ...,2004,461,5,"Large Figure Torso and Legs, Promo Figure Base..."
3,2304,7923-1,48379c01,1,1,McDonald's Sports Set Number 1 - White Soccer ...,2004,462,3,"Large Figure Torso and Legs, Promo Figure Base..."
4,3157,7918-1,48379c01,272,1,McDonald's Sports Set Number 8 - Green Basketb...,2004,459,5,"Large Figure Torso and Legs, Promo Figure Base..."

In [4]:
# Convert theme to int
print(all_merged_df.shape)

sw_theme_ids = [18, 158, 171, 209, 261]
all_merged_df = all_merged_df[all_merged_df['theme_id'].isin(sw_theme_ids)]

print(all_merged_df.head())
all_merged_df.shape

(984408, 10)
     inventory_id set_num part_num  color_id  quantity                name  \
48           1393  9526-1     2343         0         2  Palpatineâ€™s Arrest
99           3374  6210-1     2343        47         1  Jabba's Sail Barge
100         72096  6210-1     2343        47         1  Jabba's Sail Barge
121          4092  7666-1     2343         0         1     Hoth Rebel Base
122          4092  7666-1     2343         0         1     Hoth Rebel Base

     year  theme_id  num_parts                 part_name
48   2012       158        649  Equipment Goblet / Glass
99   2006       158        782  Equipment Goblet / Glass
100  2006       158        782  Equipment Goblet / Glass
121  2007       158        558  Equipment Goblet / Glass
122  2007       158        558  Equipment Goblet / Glass

(86526, 10)

In [5]:
# find set number with the most pieces
piece_count = all_merged_df.groupby(['set_num'])['quantity'].sum()

max_count = piece_count.idxmax()
print(max_count)

75192-1

In [6]:
# drop all rows but set with most pieces
mask = all_merged_df[all_merged_df['set_num'] != max_count].index
all_merged_df.drop(mask, inplace=True)

,inventory_id,set_num,part_num,color_id,quantity,name,year,theme_id,num_parts,part_name
6272,19670,75192-1,3003,0,3,Millennium Falcon,2017,171,7541,Brick 2 x 2
6273,19670,75192-1,3003,73,1,Millennium Falcon,2017,171,7541,Brick 2 x 2
6274,19670,75192-1,3003,71,4,Millennium Falcon,2017,171,7541,Brick 2 x 2
17079,19670,75192-1,3020,72,36,Millennium Falcon,2017,171,7541,Plate 2 x 4
17080,19670,75192-1,3020,25,2,Millennium Falcon,2017,171,7541,Plate 2 x 4
...,...,...,...,...,...,...,...,...,...,...
938890,19670,75192-1,3960pr0026,0,1,Millennium Falcon,2017,171,7541,Dish 4 x 4 Inverted [Radar] with Dejarik Table...
938891,19670,75192-1,44375bpr0003,47,1,Millennium Falcon,2017,171,7541,Dish 6 x 6 Inverted (Radar) with Solid Studs a...
938892,19670,75192-1,50990pr0002,71,1,Millennium Falcon,2017,171,7541,Dish 10 x 10 Inverted (Radar) with Radiating S...
938893,19670,75192-1,78c26,41,6,Millennium Falcon,2017,171,7541,"Hose, Ribbed 7mm D. 26L"
938896,19670,75192-1,88930pr0013,71,2,Millennium Falcon,2017,171,7541,"Slope Brick Curved 2 x 4 x 2/3 No Studs, with ..."

In [7]:
# Make a new df with just top 10 parts with highest quantity. Save as CSV to use in Tableau dashboard 
top_ten_parts = all_merged_df['quantity'].nlargest(n=10, keep='first')
top_ten_df = all_merged_df[all_merged_df['quantity'].isin(top_ten_parts)]
top_ten_df.reset_index(drop=True, inplace=True)
top_ten_df.to_csv('./CSVs/top_ten_parts.csv')

In [8]:
# initialize new lists for color id and part number of top 10 piece quantities. Zip to tuple to lock in for API calls
# API call to find part specs for each part/color combination and save the image URL to a list
# add the URLs to the top ten dataframe
part_num_list =[]
part_color_list = []

for item in top_ten_df['part_num']:
    part_num_list.append(item)
for item in top_ten_df['color_id']:
    part_color_list.append(str(item))
num_color_zip = zip(part_num_list,part_color_list)

url_list = []
for num, color in num_color_zip:
    response = requests.get(f'https://rebrickable.com/api/v3/lego/parts/{num}/colors/{color}?key={KEY_ONE}')
    data = response.json()
    url_list.append(str(data['part_img_url']))

url_df = pd.DataFrame({'part_num' : part_num_list,
                       'URL' : url_list})

url_df['part_num'] = url_df['part_num'].astype(str)
url_df['URL'] = url_df['URL'].astype(str)

top_ten_df = top_ten_df.merge(url_df, how='left', left_on='part_num', right_on='part_num')

top_ten_df.to_csv('./CSVs/top_ten_parts.csv')

In [9]:
# Save images and resize for Tableau
resize.write_image(url_list)
resize.resize_files('./JPGs/')